module.exports = {
    salesforce: {
        consumer_key: '',
        consumer_secret: '',
        url: 'https://login.salesforce.com',
        username: ''
    },
    google: {
        consumer_key: '',
        consumer_secret: '',
        callback_url: ''
    },
    session: { secret: 'keyboard cat' }
};